<div class="thumbnail">
    <img src="http://placehold.it/320x150">
    <div class="caption">
        Applying the currency pipe for formatting
        <h4 class="float-right">{{product.price | currency}}</h4>
        <h4><a [routerLink]="['/products', product.id]">{{product.title}}</a>
        </h4>
        <p>{{product.description}}</p>
    </div>
    <!--  <div class="ratings">
       <nga-stars [rating]="product.rating"></nga-stars>
    </div> -->
    The product title becomes a link to navigate to product details.
</div>
